.outer-container {
  background: linear-gradient(to bottom, transparent, #fcfcfc 500px, #fcfcfc);
  margin: 5rem 0 0 0;
  width: 100%;
}

.card-container {
  /* background-color: rgba(242, 242, 242, .5); */
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  padding: 5px 1rem;
  width: calc(100% - 2rem);
  /* overflow: scroll; */
}
