.App {
  text-align: center;
}

.instructions {
  background-color: rgba(242, 242, 242, .8); 
  border: none;
  border-radius: 1rem;
  box-shadow: 0 1px 7px rgba(0, 0, 0, .3);
  color: #444;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  height: 12rem;
  letter-spacing: 1px;
  margin: 0 auto 3rem;
  outline: none;
  padding: 2rem 3rem;
  text-indent: 4rem;
  text-align: justify;
  text-decoration: none;
  transition-duration: .3s;
  width: 40rem;
}

strong {
  font-weight: 900;
}

.navlink-search {
  background-color: rgba(242, 242, 242, .8); 
  border: none;
  border-radius: 1rem;
  box-shadow: 0 1px 7px rgba(0, 0, 0, .3);
  color: #444;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 1.25rem 0;
  outline: none;
  padding: 2rem 10rem;
  text-indent: 1rem;
  text-decoration: none;
  transition-duration: .3s;
  width: 30rem;
}

.navlink-search:hover {
  background-color: #fcfcfc;
}

.remove-media {
  background-color: rgba(242, 242, 242, .8);
  border: none;
  box-shadow: 0 1px 7px rgba(0, 0, 0, .3);
  color: #444;
  cursor: pointer;
  border-radius: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  left: calc(50% - 10rem);
  letter-spacing: 1px;
  margin: 1.25rem auto;
  outline: none;
  padding: 1rem;
  position: absolute;
  text-indent: 1rem;
  text-decoration: none;
  top: 15rem;
  transition-duration: .3s;
  width: 20rem;
}

.remove-media img {
  height: 1rem;
  margin-right: 1rem;
}

.remove-media:hover {
  background-color: #fcfcfc;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parallax-header {
  left: 0;
  min-height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.parallax-image {
  background-image: url('./images/track.jpg');
  background-size: cover;
  top: 37vh;
  height: 100vh;
  position: relative;
  left: 0;
  /* margin: 0;
  padding: 0; */
  width: 100vw;
  z-index: 1;
}

.parallax-transition {
  background: linear-gradient(to bottom, transparent, #fcfcfc, #fcfcfc 70%);
  /* background-color: #fcfcfc; */
  position: absolute;
  top: 30vh;
  width: 100vw;
  height: 150vh;
}

.parallax-image img {
  /* filter: blur(3px); */
  height: 150%;
  position: relative;
  right: 1px;
  top: 40%;
  width: calc(100% + 1px);
}